{$BLOG_HOST}, {$WWW_HOST} {
    root * /srv/blog
    encode gzip

    handle /healthz {
        respond "ok" 200
    }

    handle /api/* {
        reverse_proxy api:8080
    }

    handle {
        try_files {path} /index.html
        file_server
    }
}

{$ADMIN_HOST} {
    root * /srv/admin
    encode gzip

    handle /healthz {
        respond "ok" 200
    }

    handle /api/* {
        reverse_proxy api:8080
    }

    handle {
        try_files {path} /index.html
        file_server
    }
}
